/*div {
	display: inline;
	width: 100;
}*/
.gamebox {
	/*background-color: black;*/
	position: relative;
	width: 50%;
	/*height: 700px;*/
	margin-left: 25%;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	/*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
  	background-size: cover;
  	transition: 1s opacity;
}
#wordwrapper {
	width: 70%;
	margin-left: 15%;
	text-align:center;
}
#l1 {
	/*margin-top: 400px;*/
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	height:60px;
	font-size: 54px;
	color: white;
	text-align: center;
	/*position: relative;*/
}
#l1b {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	height: 60px;
	font-size: 54px;
	color: white;
	text-align: center;
}
#l2 {
	/*margin-top: 30px;*/
	display: block;
	width: 100%;
	margin-left: 10px;
	font-size: 28px;
	color: black;
	text-align: center;
	height: 30px;
	/*position: absolute;
	z-index: 1;*/
}
#l3 {
	/*op: 60px;*/margin-t
/*	display: inline-block;*/
	/*height: 100px;*/
	width: 100%;
	margin-left: 10px;
	font-size: 28px;
	color: white;
	text-align: center;
}
#down {
	height: 37px;
	font-size: 40px;
	font-family: 'Signika', sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#l4 {
	margin-top: 305px;
/*	display: inline-block;*/
	width: 100%;
	margin-left: 10px;
	font-size: 36px;
	color: black;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}
#lnew {
	width: 25px;
	display: inline-block;
	margin-left: 10px;
	font-size: 28px;
	color: white;
	border-bottom: 3px solid white;
	text-align: center;
}
/*toggle on color: white/black when a letter is guessed*/